#choose_files {
    text-align: center;
}

#drop_zone {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1.5px solid black;
    width: 50%;
}

#drop_zone>p {
    text-align: center;
    font-size: 30px;
    color: #999;
}

#valid_zone>table>tr>td {
    color: #388e3c;
    text-align: center;
}

#valid {
    background-color: #388e3c33;
}

#invalid {
    background-color: #f4433633;
}

#uploaded_files {
    margin: auto;
    width: 50%;
    overflow: hidden;
}

#uploaded_files>div>h3 {
    text-align: left;
    font-size: 30px;
    color: black;
    margin-bottom: 0px;
}

#invalid_zone {
    display: none;
}

#invalid_zone>table>tr>td {
    color: #f44336;
    text-align: center;
}

#download:hover {
    opacity: .8;
}

#convert:hover {
    opacity: .8;
}

#choose-files:hover {
    opacity: .8;
}

#reset:hover {
    opacity: .8;
}

#download {
    display: none;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

#invalidMSG {
    font-size: 18px;
    color: red;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    text-align: center;
}

.license-titles>div>h5 {
    margin-left: 164px;
}

.feedback-button {
    height: 40px;
    border: solid 1px #CCCCCC;
    border-radius: 6px;
    background: #1e88e5;
    width: 150px;
    line-height: 28px;
    font-weight: 450;
    color: white;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: left;
    font-size: 17px;
    position: fixed;
    right: -63px;
    top: 80%;
    z-index: 999;
    transition: right .25s;
    -webkit-transition: right .25s;
}

.feedback-button:hover {
    cursor: pointer;
    right: -59px;
    opacity: .9;
}

#content>a>button.btn {
    text-transform: capitalize;
}

svg {
    margin-top: 5px;
}

svg path:nth-child(2) {
    fill: white;
}

@media only screen and (max-width: 1600px) {
    .license-titles>div>h5 {
        margin-left: 0px;
    }

    .license-titles>div>pre {
        margin-left: -150px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        text-align: center;
    }

    .container>ul>li {
        text-align: left;
    }

    #uploaded_files>div>h3 {
        text-align: center;
    }
}