#choose_files {
    text-align: center;
}

#drop_zone {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1.5px solid black;
    width: 50%;
    overflow: hidden;
}

#drop_zone>p {
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
    color: #999;
}

#drop_zone>table>tr>td {
    text-align: center;
    color: #388e3c;
}

#invalid_zone {
    margin: auto;
    display: none;
    width: 50%;
    border: 1.5px solid black;
    overflow: hidden;
    margin-top: 20px;
}

#invalid_zone>p {
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
    color: #999
}

#invalid_zone>table>tr>td {
    color: #f44336;
    text-align: center;
}

#download:hover {
    opacity: .8;
}

#convert:hover {
    opacity: .8;
}

#reset:hover {
    opacity: .8;
}

#download {
    display: none;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

p#invalidMSG {
    font-size: 18px;
    color: red;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    text-align: center;
}

.license-titles>div>h5 {
    margin-left: 164px;
}

#content>a>button.btn {
    text-transform: capitalize;
}

svg {
    margin-top: 5px;
}

svg path:nth-child(2) {
    fill: white;
}

@media only screen and (max-width: 1600px) {
    .license-titles>div>h5 {
        margin-left: 0px;
    }

    .license-titles>div>pre {
        margin-left: -150px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        text-align: center;
    }

    .container>ul>li {
        text-align: left;
    }
}